// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fl {
	float:left;
}

.daterangepicker .ranges {
    text-align: center;
    width: 245px;
}

.ranges li:last-child {
	display: none;
}

.range_inputs {
	display: none;
}

h1, h2, h3, th{
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
.logo {
	margin:10px;
}
.navbar-nav{
	margin:20px;
}