// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fl {
	float:left;
}

.daterangepicker .ranges {
    text-align: center;
    width: 245px;
}

.ranges li:last-child {
	display: none;
}

.range_inputs {
	display: none;
}