<div class="header-main">

  <!-- Container -->
  <div class="container">

    <!-- Main Navigation & Logo -->
    <div class="main-navigation">
      <div class="row">

        <!-- Main Navigation -->
        <div class="col-md-12 columns">
          <nav class="navbar navbar-default gfx-mega nav-left" role="navigation">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"> <a class="navbar-toggle" data-toggle="collapse" data-target="#gfx-collapse"></a>
              <div class="logo"> <a href="index.html"><img src="/assets/brettllogo.png" alt="Logo" width="75px"></a> </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="gfx-collapse">
              <ul class="nav navbar-nav gfx-nav">
                <li class="dropdown active"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="active"><a href="index.html">Home Default</a></li>
                    <li><a href="shop-front.html">Home Shop</a></li>
                    <li><a href="index-style1.html">Home Style 1</a></li>
                    <li><a href="index-style2.html">Home Style 2</a></li>
                    <li><a href="index-style3.html">Home Style 3</a></li>
                  </ul>
                </li>
                <li class="dropdown gfx-mega-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Pages <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="gfx-mega-content">
                        <div class="row">
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li><a href="about-us.html">About Us Default</a></li>
                              <li><a href="about-us-alt.html">About Us Alt</a></li>
                              <li><a href="about-us-alt2.html">About Us Alt 2</a></li>
                              <li><a href="services.html">Services Default</a></li>
                              <li><a href="services-alt.html">Services Alt</a></li>
                              <li><a href="services-alt2.html">Services Alt 2</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li><a href="our-team.html">Our Team</a></li>
                              <li><a href="our-team-alt.html">Our Team Alt</a></li>
                              <li><a href="process.html">Our Process</a></li>
                              <li><a href="process-alt.html">Our Process Alt</a></li>
                              <li><a href="contact-alt.html">Contact Alt</a></li>
                              <li><a href="contact-alt2.html">Contact Alt 2</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li><a href="landing.html">Landing Page</a></li>
                              <li><a href="parallax-presentation.html">Parallax Presentation</a></li>
                              <li><a href="404.html">Page 404</a></li>
                              <li><a href="testimonials.html">Testimonials</a></li>
                              <li><a href="pricing.html">Pricing</a></li>
                              <li><a href="custom-footer.html#custom-footer">Custom Footer</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li><a href="under.html">Under Construction</a></li>
                              <li><a href="faq.html">F.A.Q.</a></li>
                              <li><a href="search.html">Search Results</a></li>
                              <li><a href="full-width.html">Full Width</a></li>
                              <li><a href="sidebar-left.html">Sidebar Left</a></li>
                              <li><a href="sidebar-right.html">Sidebar Right</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown gfx-mega-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Features <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                      <div class="gfx-mega-content">
                        <div class="row">
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li class="title-header">Infographics &amp; Icons</li>
                              <li><a href="font-avendor-icons.html">Avendor Custom Icons</a></li>
                              <li><a href="font-awesome.html">Font Awesome Icons</a></li>
                              <li><a href="animated-icons.html">Animated Icons / LivIcons</a></li>
                              <li><a href="icon-boxes.html">Icon Boxes</a></li>
                              <li><a href="icon-lists.html">Icon Lists</a></li>
                              <li><a href="counters.html">Counters</a></li>
                              <li><a href="progress-bars.html">Progress Bars</a></li>
                              <li><a href="pie-charts.html">Pie Charts</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li class="title-header">Interactive Elements</li>
                              <li><a href="members.html">Team Member Blocks</a></li>
                              <li><a href="parallax.html">Parallax</a></li>
                              <li><a href="carousel-sliders.html">Carousel &amp; Sliders</a></li>
                              <li><a href="lightbox.html">Lightbox &amp; Images</a></li>
                              <li><a href="image-effects.html">Hover Image Effects</a></li>
                              <li><a href="tooltips.html">Tooltips</a></li>
                              <li><a href="creative-links.html">Creative Links</a></li>
                              <li><a href="animation.html">Animation On View</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <ul class="mega-menu-list">
                              <li class="title-header">Default Elements</li>
                              <li><a href="typography.html">Typography</a></li>
                              <li><a href="buttons.html">Buttons</a></li>
                              <li><a href="lists.html">Lists</a></li>
                              <li><a href="alerts.html">Alerts</a></li>
                              <li><a href="tabs.html">Tabs</a></li>
                              <li><a href="pricing-tables.html">Pricing Tables</a></li>
                              <li><a href="accordions.html">Accordions &amp; Toggles</a></li>
                              <li><a href="dividers.html">Dividers</a></li>
                            </ul>
                          </div>
                          <div class="col-lg-3 col-sm-3">
                            <h4>AVENDOR Features</h4>
                            <img src="img/demo/content/features.jpg" class="img-responsive" alt="AVENDOR Features">
                            <p>You can view all the shortcodes and features just by clicking the button bellow!</p>
                            <a href="font-avendor-icons.html" class="btn btn-default btn-xs btn-alt">View All Features</a> </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="shop-front.html">Front Shop Page</a></li>
                    <li><a href="shop-page.html">Shop Page - Sidebar</a></li>
                    <li><a href="shop-page-full.html">Shop Page - Full Width</a></li>
                    <li><a href="shop-product.html">Single Product Page</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="projects-grid-full.html">Grid Ful Width</a></li>
                    <li><a href="projects-grid-boxed.html">Grid Boxed</a></li>
                    <li><a href="projects-grid-expand.html">Grid Expand</a></li>
                    <li><a href="projects-grid-mix.html">Grid Mixed</a></li>
                    <li><a href="projects-classic-2.html">Classic 2 Columns</a></li>
                    <li><a href="projects-classic-3.html">Classic 3 Columns</a></li>
                    <li><a href="projects-classic-4.html">Classic 4 Columns</a></li>
                    <li><a href="projects-classic-expand.html">Classic Expand</a></li>
                    <li><a href="projects-item-style.html">Classic Item Alt Style</a></li>
                    <li><a href="projects-single.html">Single Project Page</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="blog-default.html" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="blog-default.html">Blog Classic</a></li>
                    <li><a href="blog-full.html">Blog Full Width</a></li>
                    <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    <li><a href="blog-single-post.html">Blog Single Post</a></li>
                    <li><a href="blog-single-post-full.html">Blog Single Full Width</a></li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->

          </nav>
        </div>
        <!-- /Main Navigation -->

      </div>
    </div>
    <!-- /Main Navigation & Logo -->

  </div>
  <!-- /Container -->

</div>
<!-- /Header Main Container -->